* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}
 /* para agregar las fuentes open sans*/

header {
    width: 100%;
    height: 900px;
    background: #fff;
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/drama.jpg);
    background: linear-gradient(to right, hsla(113, 41%, 28%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/drama.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

 /* esto mueve el texto superior de los links */
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

/* color blanco, text decoration(sin la raya abajo), margin righ(los separa uno del otro) y el font mas ligero */
nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

/* al tocar se subraya lo que selecionamos */
nav > a:hover{
    text-decoration: underline;
}

/* posicion texto menu */
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* tamano,color texto menu accion */
.textos-header h1{
    font-size: 100px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.textos-menu h3{
    font-size: 15px;
    font-weight: 300;
    color:#fff;
}

.colorfondo{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.servicio-cont{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.centrado{
    width: 28%;
    text-align: center;
}

.centrado img{
    width: 90%;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
