body{
    font-family:'Times New Roman', Times, serif
} /* tipo de letra */

.colorLetra{
    color: #fff;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

/* esto mueve el texto superior de los links */

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
/* color blanco, text decoration(sin la raya abajo), margin righ(los separa uno del otro) y el font mas ligero */

nav > a:hover{
    text-decoration: underline;
}
/* al tocar se subraya lo que selecionamos */
