* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}
 /* para agregar las fuentes open sans*/

header {
    width: 100%;
    height: 900px;
    background: #784ebc;
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    background: linear-gradient(to right, hsla(113, 41%, 28%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

 /* en header encabezamiento, utilizamos un script degradado de color de fondo, junto con la imagen de portada */

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
 /* esta etiqueta nav sirve para el uso externo de enlaces*/

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

header .textos-menu{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-menu h1{
    font-size: 120px;
    color:#fff;
    padding-top: 200px;
}

.textos-menu h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.textos-menu h3{
    font-size: 15px;
    font-weight: 300;
    color:#fff;
}

.colorfondo{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.servicio-cont{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.centrado{
    width: 28%;
    text-align: center;
}

.centrado img{
    width: 90%;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
