* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif
} /* tipo de letra */

.contenedor{
    padding: 60px 0; 
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}/* arriba y abajo una separacion de 60 pixeles y maximo de pixeles 1000, overflow si algo se sale del centro del margen que lo esconda*/

header {
    width: 100%;
    height: 900px;
    background: #784ebc;
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/terror.jpg);
    background: linear-gradient(to right, hsla(113, 41%, 28%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/terror.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

/* esto mueve el texto superior de los links */

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
/* color blanco, text decoration(sin la raya abajo), margin righ(los separa uno del otro) y el font mas ligero */

nav > a:hover{
    text-decoration: underline;
}
/* al tocar se subraya lo que selecionamos */

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* la posicion del baner curvo */

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* posicion texto menu */

.textos-header h1{
    font-size: 100px;
    color: #fff;
}

/* tamaño y color primer menu */

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

/* ltamaño y color submenu */
