.nuevo{ 
    font-weight: bold; 
    font-size: 50px; 
    text-shadow: 5px 5px 6px black;
}         

*{ 
    margin: 0%; 
    padding: 0%; 
    box-sizing: border-box;
    font-family: sans-serif; 
    text-decoration: none;
} 
.button{ 
    width: 400px;
    display: block;
    background:linear-gradient(50deg, #b48f4994,rgb(33, 100, 33)); 
    padding: 20px 40px; 
    text-align: center;
    margin:auto; 
    margin-top: 50px; 
    color:white; 
    font-size: 18px;
    text-transform: uppercase; 
    letter-spacing: 2px;
    border-radius: 5px; 
    transition:all 300ms;
}  
.button:hover{ 
    transform: translate(10px); 
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}   
body{ 
    margin: 0; 
    padding: 0; 
    background-color; 
    font-family: sans-serif; 
    box-sizing: border-box;
}
.titulo{ 
    text-align:center ; 
    font-size: 40px; 
    margin-bottom: 40px; 
    font-weight: 500;
}  
.sub-titulo{ 
    font-size: 30px; 
    font-weight: 400; 

}  
.contenedor{ 
    margin: auto; 
    width: 100%;
} 
.caja__colunma{ 
    color:#fff; 
    background: chocolate; 
    position: relative; 
    text-align: center;
    width: 98%; 
    height: 440px; 
    margin: 10px;
} 
.caja__columna.texto{ 
    position: absolute; 
    top: 15px;
    left: 15px; 
    right: 15px; 
    bottom: 15px; 
    border: 2px solid #69ca62; 
    padding: 30px; 

} 
.caja__columna.texto h1{ 
    font-size: 40px;
    margin: 0 0 10px; 
}  
.caja__columna.texto h2{ 
    font-size: 18px; 

} 

svg,rect{ 
    top:0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    fill:transparent;

} 
rect{ 
    stroke:#af302c;
    stroke-width: 4; 
    stroke-dasharray:400; 
    animation: animate 4s linear infinite;
} 
.caja.contenedor{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
} 
@keyframes animate 
{ 
    0%{ 
        stroke-dashoffset: 800;
    } 
    100%{ 
        stroke-dashoffset: 0;
    }  

}  
.paginacion{ 
    margin: 20px 0; 

} 
.paginacion{ 
    list-style: none; 
    text-align: center;
} 
.paginacion ul li{ 
   display: inline-block; 
   margin-right: 10px; 

} 
.paginacion ul li a { 
    display: block; 
    padding: 10px 20px; 
    color:#fff; 
    background: #0f0e66; 
    text-decoration: nome;
} 
.paginacion ul li a:hover{ 
    background: rgb(107, 23, 30);
} 
.paginacion ul li .active{ 
    background: rgba(167, 34, 51, 0.541); 
    font-weight: bold;
}