{% extends 'app/base.html' %}
{% block contenido %}
{% load humanize %}
<br> <br> <br>
<div class="card">
    <div class="card-body">
        <h2 class="registrarpelicula">LISTA DE USUARIOS</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th class="datos">Usuario</th>
                <th class="datos">Nombre</th>
                <th class="datos">Apellido</th>
                <th class="datos">Correo</th>
            </tr>
            {% for p in entity %}
            <tr>
                <td class="datos">{{ p.username | title }}</td>
                <td class="datos">{{ p.first_name | title}}</td>
                <td class="datos"> {{ p.last_name | title }}</td>
                <td class="datos"> {{ p.email | title }}</td>
            </tr>
            {% endfor %}
        </table>
        <div>
            {% include 'app/paginator.html' %}
        </div>
{% endblock %}