{% extends 'app/base.html' %}
{% load static %}
{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}
{% block contenido %}
<br>
<div class="slider">
    <br>
    <div>
        <img src="{% static 'app/img/banner/portada1.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/portada2.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/portada3.png' %}" alt="">
    </div>
</div>
{% load humanize %}
<h2 class="nuestragaleria"> Nuestra Galeria </h2>
<div class="productos">
    {% for p in productos %}
    <div class="producto">
        <div class="contenedor_producto">
            {% if p.imagen  %}
            <img src="{{p.imagen.url}}" alt="imagen producto">
            {% endif  %}
            <div class="detalle">
                <h5 style="text-align: center;">{{p.nombre | title }}</h5>
                <h5 class="datos">{{p.descripcion | title }}</h5> 
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}