.logout{
    text-transform: uppercase;
}

.contactanos{
    text-align: center
}

.verpeliculas{
    text-align: center
}

.nuestragaleria{
    text-align: center
}

.wallpaper{
    text-align: center
}

.datos{
    text-align: center
}

.registrarpelicula{
    text-align: center
}

.listamensaje{
    text-align: center
}

